<div class="pageAbout-us page-layout">	
    <div class="breadcrumb-shop">
        <div class="container">
            <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                <ol class="breadcrumb breadcrumb-arrows">
                    <li>
                        <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                        <meta itemprop="position" content="1">		
                    </li>
                    <li>
                        <span itemprop="item">
                            <span itemprop="name">Chính sách bảo mật</span>
                        </span>
                        <meta itemprop="position" content="2">
                    </li>                        
                </ol>
</div></div>
        </div>
    </div>
    <div class="container">
        <div class="row wrapper-row pd-page">
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="sidebar-page">                        
                    <div class="group-menu">
                        <div class="page_menu_title title_block">
                            <h2>Danh mục trang</h2>
                        </div>
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="menuList-links">                                                          
                                    <li class="">
                                        <a href="/search" title="Tìm kiếm"><span>Tìm kiếm</span></a>
                                    </li>
                                    <li class="">
                                        <a href="/pages/about-us" title="Giới thiệu"><span>Giới thiệu</span></a>
                                    </li>
                                    <li class="">
                                        <a href="doitra.html" title="Chính sách đổi trả"><span>Chính sách đổi trả</span></a>
                                    </li>
                                    <li class=" active "><a href="baomat.html" title="Chính sách bảo mật">
                                        <span>Chính sách bảo mật</span></a>
                                    </li>
                                    <li class="">
                                        <a href="dichvu.html" title="Điều khoản dịch vụ"><span>Điều khoản dịch vụ</span></a>
                                    </li>
                                    <li class="">
                                        <a href="muahang.html" title="Điều khoản dịch vụ"><span>Chính sách mua hàng</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box_image visible-lg visible-md">
                        <div class="banner">
                            <a href="/">
                                <img src="//theme.hstatic.net/1000373343/1000671881/14/page_banner.jpg?v=81" alt="CosmoLove">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="heading-page">
                        <h1>Chính sách bảo mật</h1>
                    </div>
                    <div class="wrapbox-content-page">
                        <div class="content-page ">
                            <p>Chính sách bảo mật này nhằm giúp Quý khách hiểu về cách
                                 website thu thập và sử dụng thông tin cá nhân của mình 
                                 thông qua việc sử dụng trang web, bao gồm mọi thông tin 
                                 có thể cung cấp thông qua trang web khi Quý khách đăng ký 
                                 tài khoản, đăng ký nhận thông tin liên lạc từ chúng tôi, 
                                 hoặc khi Quý khách mua sản phẩm, dịch vụ, yêu cầu thêm 
                                 thông tin dịch vụ từ chúng tôi.
                            </p>
                            <p>Chúng tôi sử dụng thông tin cá nhân của Quý khách để liên
                                 lạc khi cần thiết liên quan đến việc Quý khách sử dụng
                                  website của chúng tôi, để trả lời các câu hỏi hoặc gửi
                                   tài liệu và thông tin Quý khách yêu cầu.
                            </p>
                            <p>Trang web của chúng tôi coi trọng việc bảo mật thông tin 
                                và sử dụng các biện pháp tốt nhất để bảo vệ thông tin 
                                cũng như việc thanh toán của khách hàng.&nbsp;
                            </p>
                            <p>Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ trong 
                                trường hợp cơ quan pháp luật yêu cầu.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>