<div class="pageAbout-us page-layout">	
    <div class="breadcrumb-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                    <ol class="breadcrumb breadcrumb-arrows">
                        <li>
                            <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                            <meta itemprop="position" content="1">		
                        </li>
                        <li>
                            <span itemprop="item">
                                <span itemprop="name">Chính sách mua hàng</span>
                            </span>
                            <meta itemprop="position" content="2">
                        </li>                        
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row wrapper-row pd-page">
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="sidebar-page">                        
                    <div class="group-menu">
                        <div class="page_menu_title title_block">
                            <h2>Danh mục trang</h2>
                        </div>
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="menuList-links">                                                          
                                    <li class="">
                                        <a href="/search" title="Tìm kiếm"><span>Tìm kiếm</span></a>
                                    </li>
                                    <li class="">
                                        <a href="/pages/about-us" title="Giới thiệu"><span>Giới thiệu</span></a>
                                    </li>
                                    <li class="">
                                        <a href="doitra.html" title="Chính sách đổi trả"><span>Chính sách đổi trả</span></a>
                                    </li>
                                    <li class=" active "><a href="baomat.html" title="Chính sách bảo mật">
                                        <span>Chính sách bảo mật</span></a>
                                    </li>
                                    <li class="">
                                        <a href="dichvu.html" title="Điều khoản dịch vụ"><span>Điều khoản dịch vụ</span></a>
                                    </li>
                                    <li class="">
                                        <a href="muahang.html" title="Điều khoản dịch vụ"><span>Chính sách mua hàng</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box_image visible-lg visible-md">
                        <div class="banner">
                            <a href="/">
                                <img src="//theme.hstatic.net/1000373343/1000671881/14/page_banner.jpg?v=81" alt="CosmoLove">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="heading-page">
                        <h1>Chính sách mua hàng</h1>
                    </div>
                    <div class="wrapbox-content-page">
                        <div class="content-page ">
                            <p><strong>1.Mua tại cửa hàng</strong></p>
                            <p>
                                Cửa hàng Lyra Jewelry mở cửa từ 10:00 sáng đến 20:00 tối hằng ngày từ thứ 2 đến thứ 7 (trừ các 
                                ngày lễ Tết theo quy định của nhà nước hoặc các trường hợp đặc biệt sẽ được chúng tôi thông 
                                báo trước trên trang chủ website và trên Facebook page chính thức của Lyra Jewelry).
                            </p>
                            <p>
                                Do mô hình thiên về trang sức thiết kế, chúng tôi khuyến khích khách hàng đặt lịch hẹn trước và gọi cho 
                                nhân viên tư vấn 30 phút trước khi đến cửa hàng để được đón tiếp một cách chu đáo nhất.                                    
                            </p>
                            <p>
                                Khi mua hàng có sẵn tại cửa hàng, quý khách sẽ cần thanh toán 100% trước khi chúng tôi thực hiện các 
                                điều chỉnh theo yêu cầu (ví dụ thay đổi size nhẫn, đính đá, …). Trong trường hợp này, để đảm bảo hàng 
                                sau khi chỉnh sửa đẹp và đúng ý, Lyra sẽ hẹn Quý khách 2-5 ngày trả hàng (tùy thiết kế và yêu cầu chỉnh 
                                sửa có thể lâu hơn). Chi phí phát sinh trong quá trình chỉnh sửa do Quý khách chi trả.
                                
                            </p>
                            <p><strong>2. Mua hàng online</strong></p>
                            <p>
                                Quý khách có thể đặt mua sản phẩm Lyra trực tuyến thông qua website hoặc Facebook Lyra Jewelry.
                            </p>
                            <p>
                                Nhân viên Lyra sẽ đảm bảo phản hồi các yêu cầu tư vấn của quý khách trong thời gian làm việc từ 10:00 
                                sáng đến 20:00 tối (thứ 2 đến thứ 7 hàng tuần)
                     
                            </p>
                            <p>
                                Để được báo giá chính xác và sản phẩm ưng ý, khách hàng cần cung cấp yêu cầu và ni/size chính xác. Nhân 
                                viên Lyra sẽ hướng dẫn quý khách cách thức tự đo hoặc hỗ trợ chuyển dụng cụ đo size cho quý khách 
                                trong trường hợp cần thiết (đối với khách hàng đã đặt cọc).                                    
                            </p>
                            <p>
                                Trong mọi trường hợp, chúng tôi chỉ giao hàng khi đã nhận đủ 100% giá trị đơn hàng.
                               
                            </p>
                            <p><strong>3. Chính sách đặt hàng thiết kế riêng</strong></p>
                            <p>
                                Khi đặt hàng, quý khách hàng sẽ thanh toán tiền cọc tương đương 30% giá trị sản phẩm và 
                                thanh toán 70% còn lại vào ngày nhận hàng tại cửa hàng.
                            </p>
                            <p>
                                Chúng tôi sẽ báo giá quý khách dựa trên ước tính về thông số sản phẩm. Sau khi lên mẫu 
                                thiết kế, 3D và tính toán chính xác, chúng tôi sẽ có thông báo điều chỉnh về giá theo thông số thực tế
                            </p>
                            <p>
                                Giá được báo được cân đối tỉ mỉ theo công chế tác, vàng, kim cương và các chi phí liên quan. Trong một 
                                số trường hợp, Lyra không có trách nhiệm bóc tách giá sản phẩm thành các thành phần riêng lẻ như vàng,
                                kim cương, công chế tác, thiết kế …
                                
                            </p>
                            <p>
                                Lyra luôn hỗ trợ lên mẫu sản phẩm và gửi hình ảnh 3D cho quý khách duyệt mẫu trước khi sản xuất. 
                                Khách hàng được chỉnh sửa thiết kế dựa trên thiết kế ban đầu nhưng không quá 3 lần. Sau khi có sự đồng
                                ý của khách hàng, chúng tôi sẽ tiến hành việc chế tác. Kể từ thời điểm này, khách hàng sẽ chi trả các chi
                                phí phát sinh (nếu có) nếu muốn thay đổi thiết kế hoặc thông số so với bản vẽ đã duyệt.
                            </p>
                            <p>
                                Thời gian tiêu chuẩn từ lúc đặt hàng đến nhận hàng là 20 ngày. Thời gian này có thể thay đổi tùy thuộc 
                                vào độ phức tạp của mẫu thiết kế và thời gian đặt hàng của viên chủ GIA. Lyra sẽ thông báo với quý khách
                                nếu đơn hàng phát sinh thêm thời gian.
                            </p>
                            <p>
                                Trong trường hợp có sự thay đổi về thiết kế sau khi duyệt mẫu, hoặc việc trao đổi về thiết kế mẫu mã diễn 
                                ra lâu hơn dự kiến, thời gian nhận hàng có thể bị trễ hơn thời gian tiêu chuẩn. Lyra sẽ thông báo lại thời
                                gian dự kiến đến Quý khách trong quá trình thực hiện đơn hàng.

                            </p>
                            <p>
                                Trường hợp khách hàng cần đặt hàng các mẫu thiết kế riêng trong thời gian gấp hơn 20 ngày, vui lòng trao 
                                đổi với nhân viên Lyra để được hỗ trợ. Chúng tôi sẽ kiểm tra mức độ khả khi và hỗ trợ khách hàng tốt
                                nhất trong khả năng. Tuy vậy, Lyra có thể từ chối hỗ trợ trong trường hợp điều kiện không cho phép hoặc
                                khách hàng có thể chịu thêm phí phát sinh cho hàng gấp.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>